<form>
    <div class="form-group">
        <label for="title">Titulo:</label>
        <input type="text" placeholder="Título" required>
    </div>
    <div class="form-group">
        <label for="description">Titulo:</label>
        <textarea placeholder=" Por que é seu favorito?" required></textarea>
    </div>
    <div class="form-group">
        <label for="image">Coloque a imagem do seu anime ou personagem favorito</label>
        <input type="file">
    </div>
<input type="submit" value="{{btnText}}">
</form>