<div class="home-container">
    <h1>Animes e Persoagens que estão Compartilhando</h1>
<div class="search-container">
<form >
<fa-icon [icon]="faSearch"></fa-icon>
<input type="text" placeholder="Busque um anime ou Persoagen" (input)="search($event)">
</form>
</div>

    <div *ngIf="moments.length >0;else noMoments"></div>
    <div class="moments-container">
        <div class="moment" *ngFor="let moment of moments">
            <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
            <h3>{{moment.title}}</h3>
            <p class="date">Em:{{moment.created_at}}</p>
            <p>Comentários:{{moment.comments!.length}}</p>
            <p><a routerLink="animes/{{moment.id}}">Detalhes</a></p>
        </div>
    </div>
    <ng-template #noMoments>
        <h1>Não há animes ou Persoagens cadastrados</h1>
    </ng-template>
</div>